<div class="main">
    <!-- Search Bar -->
    <div nz-row>
        <div nz-col nzSpan="24" class="search-bar">
            <input
                nz-input
                placeholder="Search tests..."
                [(ngModel)]="searchTerm"
                (input)="filterTests()"
            />
        </div>
    </div>

    <!-- Test Cards -->
    <div nz-row>
        <div nz-col nzSpan="24" style="margin-bottom: 20px;">
            <span style="margin: 20px;" *ngFor="let test of filteredTests">
                <nz-card [nzBordered]="true" class="test" nzTitle="{{test.title}}">
                    <p><strong>Time :</strong> {{getFormatedTime(test.time)}}</p>
                    <p><strong>Description :</strong> {{ test.description }}</p>

                    <div class="button-group">
                        <button nz-button nzType="primary" routerLink="/user/take-test/{{test.id}}">
                            Start test
                        </button>
                    </div>
                </nz-card>
            </span>
        </div>
    </div>
</div>